* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 25px;
  font-family: sans-serif;
  margin: 30px 0;
}

article {
  width: 85%;
  margin: 0 auto;
  border: 5px solid;
}

h2,
.shipping,
h3,
button {
  text-transform: uppercase;
}

h2 {
  background-color: #f7f7f7;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  position: relative;
}

h2::before {
  content: "SALE";
  position: absolute;
  top: -22px;
  left: -50px;
  font-size: 18px;
  color: #f7f7f7;
  background-color: #ec2f2f;
  display: inline-block;
  padding: 8px 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

h3 {
  margin-bottom: 10px;
}

p strong {
  font-size: 40px;
}

.price {
  margin: 2px 0;
}

.shipping {
  color: #777;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 30px;
}

a:link,
a:visited {
  color: black;
  display: block;
  margin-top: 15px;
  margin-bottom: 45px;
}

a:active,
a:hover {
  text-decoration: none;
}

ul {
  margin: 15px 0;
  padding-left: 30px;
}

li {
  list-style: square;
  margin-bottom: 15px;
}

button {
  background-color: black;
  color: white;
  font-size: 28px;
  border-top: 4px solid black;
  padding: 20px 0;
  width: 100%;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.color-section {
  margin-bottom: 20px;
}

.color-section span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: black;
  margin-right: 12px;
}

.color-section span:nth-child(2) {
  background-color: #2f6ee2;
}

.color-section span:nth-child(3) {
  background-color: #ec2f1e;
}

.color-section span:nth-child(4) {
  background-color: #f0bf1e;
}

.color-section span:nth-child(5) {
  background-color: #90cc20;
}

.color-section span:nth-child(6) {
  background-color: #885214;
}
